/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 oct. 2023, 14:21:47
    Author     : Anderson
*/

.button{
    -fx-font-family: "Rockwell";
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 10;
    -fx-background-radius: 35px;
    -fx-background-color: #CC9900;
}
.button:hover {
    -fx-background-color: goldenrod;
}
.text-field{
    -fx-font-family: "Rockwell";
    -fx-background-color: transparent;
    -fx-border-width:  0 0 1 0;
    -fx-border-color: #CC9900;
    -fx-border-radius: 4px;
   -fx-font-size: 14px;
    -fx-text-fill: #000033;
    
}
.image-view {
    -fx-background-color: firebrick;
    -fx-background-radius: 50%;
}
#Text{
    -fx-font-family: "Rockwell";
   -fx-font-size: 25px;
    -fx-text-fill: #000359; 
}
.label{
    -fx-font-family: "Rockwell";
    -fx-background-color: transparent;
    -fx-border-width:  0 0 1 0;
    -fx-border-color: #CC9900;
    -fx-border-radius: 4px;
   -fx-font-size: 14px;
    -fx-text-fill: #000033; 
}
#idioms{
    -fx-font-family: "Rockwell";
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 5;
    -fx-background-radius: 10px;
    -fx-background-color: #000359;
}
#idioms:hover {
    -fx-background-color:goldenrod;
}
.choice-box {
    -fx-background-color:#CC9900;
    -fx-padding: 5px; 
    -fx-font-size: 15px; 
    -fx-font-family: "Rockwell"; 
    -fx-border-color:#CC9900; 
    -fx-border-radius: 10px; 
    -fx-border-with: 10px;
}


.tab-pane {
    -fx-tab-background-color:white;
}
.tab-pane .tab-header-background {
    -fx-background-color: #000359; 
}
.tab-pane .tab .tab-label {
    -fx-text-fill:white; 
    -fx-font-family: "Rockwell";
    -fx-font-style: italic;
    -fx-font-size: 20px;
}
.tab-pane .tab {
    -fx-background-color: #000359;
}
.tab-pane .tab:selected .tab-label {
    -fx-text-fill:#000359;
}
.tab-pane .tab:selected {
    -fx-background-color:white; 
    -fx-text-fill:#000359;
}
.tab-pane .tab-content-area {
    -fx-background-color: white;
}

.table-view {
    -fx-background-color:white; /* Color de fondo de la tabla */
}

.table-view .column-header-background {
    -fx-background-color: #212121; /* Color de fondo de los encabezados de columna */
}
.table-view .column-header .label {
    -fx-text-fill: #000359;/* Color del texto de los encabezados de columna */
     -fx-border-width:  2 2 2 2;
    -fx-background-color: white;
    -fx-font-size: 13px;
    -fx-border-color: #000359;
}

.table-view .table-cell {
    -fx-text-fill:#000359; /* Color del texto de las celdas */
    
}
.table-view .column-header, .table-view .filler {

    -fx-size: 30;
    -fx-background-color: transparent;


}

.table-view:focused .table-row-cell:filled:focused:selected {

    -fx-background-color: -fx-focus-color;

}

.table-row-cell {
    -fx-background-color:white;
    -fx-text-fill: #000359;

}

.scroll-pane {
    -fx-background-color: #000359; 
}
.scroll-bar:vertical {
   -fx-base: #000359; 
}
.scroll-bar:horizontal {
   -fx-base: #000359; 
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: white; 
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: white; 
}